# Ignore vscode formatting
.vscode/

# Ignore binaries
build/
engine

# Ignore macOS weird files
.DS_Store
*.dSYM/
._*

# Ignore compiled binaries
*.out
*.exe
*.o
*.d
*.obj
*.a
*.so
*.dll
*.dylib
*.app